
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.qtyContainer {
  width: 100px;
  height: 40px;
  background-color: pink;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .sub {
    padding-right: 8px;
    cursor: pointer;
  }
  .add {
    padding-left: 8px;
    cursor: pointer;
  }
  .qty{
    font-size: 18px;
    width:30px;
    border: none;
  }
}
