* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .inputPair {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      font-weight: 600;
      color: #444;
    }

    #city,
    #date {
      width: 80vw;
      max-width: 400px;
      padding: 0.5rem;
      border-radius: 8px;
      border: 1px solid #ddd;
    }

    .form-group select:focus,
    .form-group input:focus {
      border-color: #97b181;
      box-shadow: 0 0 5px rgba(151, 177, 129, 0.4);
      outline: none;
    }
  }
}
.qtyContainer {
  width: 100px;
  height: 40px;
  background-color: pink;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .sub {
    padding-right: 8px;
    cursor: pointer;
  }
  .add {
    padding-left: 8px;
    cursor: pointer;
  }
  .qty {
    font-size: 18px;
    width: 30px;
    border: none;
  }
}
